[Desktop Entry]
Encoding=UTF-8
Name=Link to Using Git and Github to Manage Your Dotfiles | smalley creative blog
Type=Link
URL=http://blog.smalleycreative.com/tutorials/using-git-and-github-to-manage-your-dotfiles/
Icon=text-html
