input{
	width: 120px;
	margin:auto;
	text-align: right;
	direction:ltr;
}
h1{
	font-family: ABeeZee;
	color: #000000;
	font-size: 16;
	padding: none;
	font-weight: bold;
}
p
{
	margin:auto;
   

	display: inline;
	padding-right: 5px;
	font-family: ABeeZee;
	color: #000000;
	font-size: 16;
	padding: 5;
	font-weight: bold;

}

div{
	margin:auto;
}

}
tr{
	border-collapse:collapse;

}
table {
	border-collapse:collapse;
	
}

img{
	height: 30px;
	width: 30px;
	margin:auto;
	

}

.even{
	background-color: #E1EBF5;
}

html{
	width: 230px;
	margin:auto;
}
