"*":
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      "*.class"
      ".DS_Store"
      "._*"
      "Thumbs.db"
    ]
    autoHideMenuBar: true
    disabledPackages: [
      "linter-javac"
    ]
  "atom-beautify": {}
  editor:
    invisibles: {}
    scrollPastEnd: true
    backUpBeforeSaving: true
    showIndentGuide: true
    tabLength: 4
  "linter-javac":
    javaExecutablePath: "/usr/lib/jvm/java-8-openjdk/bin/javac"
  "tree-view":
    hideIgnoredNames: true
  linter: {}
  latex:
    alwaysOpenResultInAtom: true
  minimap:
    absoluteMode: true
core:
  ignoredNames: "*.class"
